<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalCreateCustomer">

    <div class="modal fade" id="modalCreateCustomer" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(0, 162, 255);">
                    <h3 class="modal-title " id="exampleModalLabel">Create Customer</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmCreateCustomer" class="textform">
                        <fieldset class="row g-3">
                            <input type="hidden" id="customerIdCre">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><b>Full name</b></label>
                                <input type="text" class="form-control" id="fullNameCre" name="fullNameCre">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"><b>Email</b></label>
                                <input type="email" class="form-control" id="emailCre">
                            </div>
                        </fieldset>

                        <fieldset class="row g-3 ">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><b>Phone</b></label>
                                <input type="text" class="form-control" id="phoneCre">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"><b>Address</b></label>
                                <input type="text" class="form-control" id="addressCre">
                            </div>
                        </fieldset>
                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnCreate" class="btn btn-outline-primary">
                        <i class="fa-solid fa-square-plus"></i>
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>