<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalUpdateCustomer">

    <div class="modal fade" id="modalUpdate" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(77, 104, 107);">
                    <h3 class="modal-title" id="exampleModalLabel">Update Customer</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmUpdateCustomer" class="textform" method="post">
                        <input type="hidden" id="customerIdUp">
                        <div class="col-md-6 mb-3">
                            <label class="form-label"><b>Full name</b></label>
                            <input type="text" class="form-control" id="fullNameUp">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"><b>Email</b></label>
                            <input type="email" class="form-control" id="emailUp">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label"><b>Phone</b></label>
                            <input type="text" class="form-control" id="phoneUp">
                        </div>
                        <div class="row col-lg-12 mt-3">
                            <div class="col-lg-3">
                                <label>Province</label>
                                <select class="form-select" id="provinceIdUp" name="provinceIdUp">

                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>District</label>
                                <select class="form-select" id="districtIdUp" name="districtIdUp">

                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Ward</label>
                                <select class="form-select" id="wardIdUp" name="warIdUp">

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"><b>Address</b></label>
                                <input type="text" class="form-control" id="addressUp">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnUpdate">
                        <i class="fa-solid fa-pen-to-square"></i> Update
                    </button>
                </div>
            </div>
        </div>
    </div>


</th:block>